.bankLogo {
    height: 32px;
    width: auto;
    margin-right: 1rem;
}

.container {
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.logoName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}