.bankLogo {
    height: 32px;
    width: auto;
    margin-right: 1rem;
}

.logoName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency {
    font-weight: bold;
}

