# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  ## Models ##
  lint-models:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm i
      - name: Lint
        run: make lint-models

  build-models:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm i
      - name: Build
        run: make build-models
      - uses: actions/upload-artifact@v4
        with:
          name: models
          path: packages/models/dist

  test-models:
    needs: [ lint-models, build-models ]
    runs-on: ubuntu-latest
    steps:
      - name: Install Openssl
        run: |
          wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
          sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm i
      - name: Test
        run: make test-models
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: models

  ## API ##
  lint-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm i --workspace=@soker90/finper-api
      - name: Lint
        run: make lint-api

  build-api:
    needs: [ build-models ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - uses: actions/download-artifact@v6
        with:
          name: models
          path: packages/models/dist
      - name: Install dependencies
        run: npm i --workspace=@soker90/finper-api
      - name: Build
        run: make build-api

  test-api:
    needs: [ lint-api, build-api ]
    runs-on: ubuntu-latest
    steps:
      - name: Install Openssl
        run: |
          wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
          sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - uses: actions/download-artifact@v6
        with:
          name: models
          path: packages/models/dist
      - name: Install dependencies
        run: npm i --workspace=@soker90/finper-api
      - name: Test
        run: make test-api
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: api

  ## Frontend ##
  lint-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm i --workspace=@soker90/finper-client
      - name: Lint
        run: make lint-client

  build-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm i --workspace=@soker90/finper-client
      - name: Build
        run: make build-client

  test-client:
    needs: [ lint-client, build-client ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm i --workspace=@soker90/finper-client
      - name: Test
        run: make test-client
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: client
